version: '3.8'

services:
  sphana-database:
    build:
      context: .
      dockerfile: Sphana.Database/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080;https://+:8081
    volumes:
      - ./data:/app/data

