.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Local output directories
target/

# IDE/editor files
.idea/
.vscode/

# Too long files (there is a limit of 100MiB per file in git)
/samples/wiki-docs